{% extends 'base.html.twig' %}

{% block title %}Blanda kortlek{% endblock %}

{% block body %}
<h1>Kortleken är blandad</h1>
<a href="{{ path('card_home') }}">Åter till startsidan</a>
{% endblock %}
