{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="main">
    <article class="article">
        <header>
            <h1>Om mig</h1>
        </header>
        <br>
        <figure class="figure-right">
            <img src="img/me.jpg" width="250" alt="Bild på mig">
        </figure>

        <p>Jag heter Charlotte Forsberg och jag bor mitt bland fjällen i
            lappländska Tärnaby. Jag flyttade hit 2011, från Sölvesborg i
            Blekinge, när längtan efter fjällen blev för stor.</p>

        <p>För väldigt länge sedan, i början av 90-talet, läste jag
            programmering på EC i Svängsta. Det jag fick lära mig var främst
            programmering i C, men också C++, lite Assembler, databaser, elektronik m.m.</p>

        <p>Nu har jag inte använt mig av de kunskaperna på länge och har glömt
            mycket av det, men dagens möjligheter med både studier och arbete
            på distans ger nya möjligheter för mig som bor så här avlägset.
            Jag ser fram emot att få fräscha upp mina kunskaper och uppdatera
            mig med nya programmeringsspråk och tekniker.
        </p>

        <figure class="figure-left">
            <img src="img/norrsken.jpg" width="400" alt="Norrsken">
            <figcaption>Norrsken, foto: Charlotte Forsberg</figcaption>
        </figure>

        <br>
        <p>När man bor så här som jag gör vill man gärna vara ute och röra
            sig, så fritiden spenderar jag helst på uppe på fjället med
            kameran. Det blir också en del långa kalla nätter med
            norrskensfotografering i temperaturer ner mot -40&#176;C.</p>

        <figure class="figure-right">
                    <img src="img/murtsertoppen_1200px.jpg" width="400" alt="Soluppgång över Murtsertoppen">
        <figcaption>Soluppgång över Murtsertoppen, foto: Charlotte Forsberg</figcaption>
        </figure>
    </article>
</main>
{% endblock %}