{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<div class="two-col-layout">
<main class="main">
    <aside class="aside">
        <h3>Innehållsförteckning</h3>
        <ul>
            <li><a href="#kmom01">Kmom01</a></li>
            <li><a href="#kmom02">Kmom02</a></li>
            <li><a href="#kmom03">Kmom03</a></li>
            <li><a href="#kmom04">Kmom04</a></li>
            <li><a href="#kmom05">Kmom05</a></li>
            <li><a href="#kmom06">Kmom06</a></li>
            <li><a href="#kmom07/10">Kmom07/10</a></li>
        </ul>
    </aside>
</main>
    <article class="article">
    <h1>Redovisning av kursmoment</h1>
        <h3 id="kmom01">Kmom01</h3>
        <p class="kmom">Mina tidigare erfarenheter av objektorienterad programmering är,
        förutom Oopython kursen jag läste på BTH tidigare i år, C++ som jag läste för
        väldigt länge sedan i början på 90-talet.</p>

        <p class="kmom">För att komma igång med objektorienterad php så behöver man förstå att klasser
        används för att skapa objekt. En klass är som en mall eller template för hur
        objektet ska skapas. I klassen definieras de properties (egenskaper) som objektet
        får och metoder (funktioner) som kan utföras på objektet.</p>

        <p class="kmom">Kodbasen och strukturen som vi skulle använda känns för mig onödigt invecklad
        med många olika tekniker och är inte sättet jag skulle löst det på om jag fått
        välja själv. Jag kommer att skriva om min css-kod i sass längre fram då min
        css-fil blev väldigt stor.</p>

        <p class="kmom">I artikeln “PHP The Right Way” tyckte jag att konceptet med namespace verkar
        väldigt praktiskt och användbart när man är flera som arbetar tillsammans.
        Sedan är ju säkerhetsbiten alltid aktuell och viktig.</p>

        <p class="kmom">Mitt TIL för kursmomentet är skillnaden mellan $this och self::.
        <br>
        self:: används vid anrop av en konstant och är en referens till klassen.
        <br>
        $this används inne i klassen för att accessa en property eller metod och det
        är en referens till objektet.</p>

        <h3 id="kmom02">Kmom02</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>

        <h3 id="kmom03">Kmom03</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>

        <h3 id="kmom04">Kmom04</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>

        <h3 id="kmom05">Kmom05</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>

        <h3 id="kmom06">Kmom06</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>

        <h3 id="kmom07/10">Kmom07/10</h3>
        <p class="kmom">Här kommer redovisningstexten för detta kursmoment.
        </p>
    </article>
</div>
{% endblock %}